@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --laranja-claro: #5b1594;
    --alto-contraste-fundo: #000000;
    --alto-contraste-texto: #ffffff;
    --alto-contraste-link: rgba(173, 0, 253, 0.685);
}

body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
}

section {
    padding-bottom: 5rem;
}

.nav-link {
    color: var(--laranja-claro);
    font-weight: 600;
}

.nav-img {
    width: 250px;
    height: auto;
}

.inicio-fundo {
    background-image: url('img/Bruno_Mars_Concert_at_Singapore_49.jpg');
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
    position: relative;
}

.img-inicio {
    position: absolute;
    top: 100px;
    right: 7vw;
    width: 30vw;
    height: auto;
}

.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;
    color: #fff;
    font-weight: bold;
}

.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}

h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    color: var(--laranja-claro);
}

#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin: 3rem 0;
    background: url('img/disco.jpg') top right no-repeat,
                url('img/estrela.jpg') bottom left no-repeat;
    background-size: 180px 180px;
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#galeria {
    background-color: #ffffff;
}

.fundo-galeria {
    background: url('img/disco.jpg') bottom right no-repeat;
    background-size: 180px 180px;
}

#contato {
    background-image: url('img/b773f58a1461bcbb11416e681f1dc979.jpg');
    background-size: cover;
    padding: 4rem 0;
}

.formulario {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--laranja-claro);
    border: none;
    font-weight: bold;
    color: white;
}

.form-control {
    background-color: #ffffff;
}

.menu-acessibilidade {
    position: fixed;
    top: 2rem;
    right: 20px;
    z-index: 1000;
}

.rotacao-botao {
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button {
    margin-bottom: 5px;
}

.apresenta-lista {
    display: none;
}

/* ALTO CONTRASTE */
.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario {
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste .nav-link {
    color: var(--alto-contraste-link);
}

.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary {
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo);
}

.alto-contraste #tropicalia,
.alto-contraste .fundo-galeria {
    background: none;
}

.alto-contraste #galeria {
    background-color: var(--alto-contraste-fundo);
}
